<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div class="container">
    <div class="add_product" id="add_product">
      <h2>Category</h2>

      <div class="form">
        <form name="category_select" action="/add_category" method="POST" enctype="multipart/form-data">

          <div class="category-image">
            <div class="wrapper">
                <h2>Upload Files!</h2>
                <input type="file" name="profile" id="file-input" onchange="preview()" multiple />
                <label for="file-input">
                    <i class="fas fa-upload"></i> &nbsp; Choose A Photo
                </label>
                <p id="num-of-files">No Files Chosen</p>
                <div id="images"></div>
            </div>
        </div>
          <input class="input-categoryName" type="text" placeholder="Category Name " name="name" value=""/>
          <!-- <input class="input" type="text" placeholder="Category Url " name="url" value=""/> -->
          <input type="submit" value="Add" />
        </form>
      </div>


      <div class="form">
        <form class="form_category" action="/update_category" method="POST">
          <div class="select-category">
              <p class="input input-category">Category </p>
              <select name="category_select" id="list" class="input input-category">
                <% for(var i = 0; i < category.length; i++) { %>
                  <option value="<%= category[i]._id %>" ><%= category[i].name %></option>
                <% } %>
              </select>
          </div>
          <input class="input_category" type="text" placeholder="Category Name " id="updateCategory" name="name" value=""/>
          <input type="submit" value="Update" />
        </form>
      </div>

      <div class="form">
        <form class="form_category" action="/delete_category" method="POST" >
          <div class="select-category">
              <p class="input input-category">Category </p>
              <select name="category_select" id="list1" class="input input-category"'>
                <% for(var i = 0; i < category.length; i++) { %>
                  <option value="<%= category[i]._id %>" ><%= category[i].name %></option>
                <% } %>
              </select>
          </div>
          <input class="input_category" type="text" placeholder="Category Name  " id='deleteCategory' name="name" value="" readonly/>
          <input type="submit" value="Delete" />
        </form>
      </div>

  </div>
</div>

<script>
    document.querySelector("#list1").addEventListener("click", () => {
    var x = document.querySelector("#list1").selectedIndex;
    let optionText = document.getElementsByTagName("option")[x].innerText;
    document.getElementById("deleteCategory").value = optionText;
    })

    document.querySelector("#list").addEventListener("click", () => {
    var x = document.querySelector("#list").selectedIndex;
    let optionText = document.getElementsByTagName("option")[x].innerText;
    document.getElementById("updateCategory").value = optionText;
    })


</script>
<script src="js/uploadimage.js"></script>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->