<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Start product -->
<div class="container">
    <form class="search-employee" id="search-employee" action="/searchCustomer" method="POST">
        <input class="tbox-customer" type="text" placeholder="Search" name="search" />
        <button type="submit" form="search-employee" class="btn-search-employee"><i class="fas fa-search"></i></button>
    </form>
</div>

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Number</th>
                        <th>Shop Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Expiry Date</th>
                        <th>Extra Days</th>
                        <th>Extra Product</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < customer.customers.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= customer.customers[i].shop_name%></td>
                        <td><%= customer.customers[i].shop_address%></td>
                        <td><%= customer.customers[i].phone1%></td>
                        <% m = new Date(customer.customers[i].expiry_date) %>
                        <% dateString = m.getUTCFullYear() +"/"+ (m.getUTCMonth()+1) +"/"+ m.getUTCDate() %>
                        <td><%= dateString%></td>
                        <td><%= customer.customers[i].extra_days%></td>
                        <td><%= customer.customers[i].extra_products%></td>
                        <td><%= customer.customers[i].subscrip_status%></td>
                        <td>
                            <a href="/customerDetails?cust_id=<%= customer.customers[i]._id %>" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>
                            <a href="/customers/<%= customer.customers[i]._id %>" class="btn border-shadow">
                                <span class="text-gradient"><i class="fas fa-times"></i></span>
                            </a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </form>
    </div>
</main>
<!-- /Main Site -->
<!-- End Search Employee -->
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->